.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.header .navbar-brand {
  text-transform: uppercase;
  font-weight: bold; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-align: justify; }
  .content .content-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    text-align: center; }

@media all and (max-width: 992px) {
  .carousel {
    display: none; } }

.navLink {
  color: black; }
  .navLink:hover {
    color: black;
    opacity: 0.7;
    text-decoration: none; }

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-grid-column-align: end;
  justify-self: end;
  padding: 15px;
  width: 100%;
  text-align: center;
  text-transform: uppercase; }
