.navbar-brand {
  text-transform: uppercase;
  font-weight: bold; }

.content {
  text-align: justify; }

.content-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  text-align: center; }

@media all and (max-width: 992px) {
  .carousel {
    display: none; } }

.products-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .products-cards .card {
    margin: 10px;
    width: 18rem; }
    .products-cards .card:hover {
      text-decoration: none; }
  .products-cards .card-title {
    height: 100px; }
  .products-cards .card-text {
    text-align: right;
    height: 25px; }

.navLink {
  color: black; }
  .navLink:hover {
    color: black;
    opacity: 0.7;
    text-decoration: none; }
