@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");
.loader {
  position: absolute;
  text-align: center;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: 0 auto; }

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-ripple div {
  position: absolute;
  border: 4px solid #000ff0;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite; }

.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0; } }

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0; } }

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.header .navbar-brand {
  text-transform: uppercase;
  font-weight: bold; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-align: justify; }
  .content .content-title {
    font-family: 'Nunito Sans', sans-serif;
    color: #4D4D4D;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    text-align: center; }

@media all and (max-width: 992px) {
  .carousel {
    display: none; } }

.navLink {
  color: black; }
  .navLink:hover {
    color: black;
    opacity: 0.7;
    text-decoration: none; }

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-grid-column-align: end;
  justify-self: end;
  padding: 15px;
  width: 100%;
  text-align: center;
  text-transform: uppercase; }
