.cart {
    cursor: pointer;
    display: flex; align-items: center;
    text-align: right;
    
    .cart__icon {
        font-size: 1.5em;
        color: gray;
    }

    .cart__qty, .cart__icon {
        margin: 5px; padding: 0;
    }

    .cart__qty {
        color: red;
    }

    &:hover {
        text-decoration: none;
    }
}

.nav-link {
    margin: 0 10px;
}
