.cart {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: right; }
  .cart .cart__icon {
    font-size: 1.5em;
    color: gray; }
  .cart .cart__qty, .cart .cart__icon {
    margin: 5px;
    padding: 0; }
  .cart .cart__qty {
    color: red; }
  .cart:hover {
    text-decoration: none; }

.nav-link {
  margin: 0 10px; }
