.cart {
    cursor: pointer;
    display: flex; align-items: center;
    text-align: right;
    min-width: 100px;

    .cart__icon {
        color: gray;
        font-size: 1.3em;
    }

    .cart__qty {
        color: rgb(255, 145, 0);
        font-size: .8em;
        margin-left: 5px;
        font-weight: bold;
    }

    &:hover {
        text-decoration: none;
    }
}

.nav-link {
    margin: 0 10px;
}
